@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply flex h-screen max-h-screen items-start justify-center bg-neutral-900 px-5 text-neutral-200 antialiased sm:items-center;
  }
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
